:root {
  --accent-color: #6c63ff;
  --second-color: #f9f7fe;
  --third-color: #272142;
}

html, body {
  height: 100%;
  font-family: Poppins, sans-serif;
}

.row img {
  transition: transform .5s ease-in-out;
}

.row img:hover {
  transform: scale(1.05);
}

.home-page, .contacts-page {
  background-color: var(--second-color);
}

.home-page {
  flex-direction: column;
  display: flex;
}

.home-page__content {
  text-align: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: flex;
}

.home-page__paragraph {
  font-size: 25px;
  font-weight: bold;
}

@media (width >= 768px) {
  .home-page__paragraph {
    font-size: 36px;
  }
}

.home-page__title {
  font-family: Playfair Display, serif;
  font-size: 30px;
  font-weight: bold;
}

@media (width >= 768px) {
  .home-page__title {
    font-size: 60px;
  }
}

.home-page__subtitle {
  font-size: 20px;
  font-weight: 400;
}

@media (width >= 768px) {
  .home-page__subtitle {
    width: 516px;
    font-size: 25px;
  }
}

@media (width >= 1200px) {
  .home-page__subtitle {
    width: 1000px;
  }
}

.home-page__socials {
  background-color: #fff;
  border: 1px solid #000;
  justify-content: space-around;
  width: 300px;
  padding: 10px;
  display: flex;
}

@media (width >= 768px) {
  .home-page__socials {
    flex-direction: column;
    width: fit-content;
    height: 50vh;
    position: absolute;
    top: 25vh;
    left: 20px;
  }
}

.about-page {
  flex-direction: column;
  display: flex;
}

.about-page__content {
  text-align: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 20px;
  display: flex;
}

@media (width >= 768px) {
  .about-page__content {
    flex-direction: row;
    justify-content: center;
  }
}

.about-page__image {
  height: 300px;
}

.about-page__information {
  flex-direction: column;
  align-items: center;
  gap: 20px;
  display: flex;
}

@media (width >= 1200px) {
  .about-page__information {
    width: 50%;
  }
}

.about-page__title {
  font-family: Playfair Display, serif;
  font-size: 30px;
  font-weight: bold;
}

@media (width >= 768px) {
  .about-page__title {
    font-style: 45px;
  }
}

.about-page__paragraph {
  color: var(--third-color);
  opacity: .7;
  font-size: 16px;
  font-weight: normal;
}

.about-page__skills {
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  display: flex;
}

.about-page__skill {
  border: 1px solid var(--accent-color);
  background-color: var(--second-color);
  width: max-content;
  padding: 5px;
}

.projects-page__title {
  text-align: center;
  font-family: Playfair Display, serif;
  font-size: 30px;
  font-weight: bold;
}

@media (width >= 768px) {
  .projects-page__title {
    font-size: 50px;
  }
}

.projects-page__subtitle {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

@media (width >= 768px) {
  .projects-page__subtitle {
    font-size: 22px;
  }
}

.projects-page__link {
  text-align: center;
  color: var(--accent-color);
  text-decoration: none;
}

.projects-page__link:hover {
  text-decoration: underline;
}

.contacts-page {
  flex-direction: column;
  display: flex;
}

.contacts-page__content {
  text-align: center;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: flex;
}

.contacts-page__title {
  text-align: center;
  font-family: Playfair Display, serif;
  font-size: 30px;
  font-weight: bold;
}

@media (width >= 768px) {
  .contacts-page__title {
    font-size: 50px;
  }
}

.contacts-page__subtitle {
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: bold;
}

@media (width >= 768px) {
  .contacts-page__subtitle {
    font-size: 22px;
  }
}

.nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 400;
}

.nav-link:hover {
  color: var(--accent-color);
}

@media (width >= 768px) {
  .nav-link {
    font-size: 20px;
  }
}

.navbar-nav .nav-link.active {
  color: var(--accent-color);
}

.logo {
  width: 70px;
  height: 70px;
}

.main_btn {
  background-color: var(--accent-color);
  color: #fff;
  width: fit-content;
}

.main_btn:hover {
  background-color: var(--second-color);
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}
/*# sourceMappingURL=index.38ec9247.css.map */
